---
import BaseSEOLayout from '~/layouts/BaseSEOLayout.astro'
import AppConfig from '~/AppConfig'
import MainNew from '~/containers/HomePage/MainNew'
import HotNew from '~/containers/FeaturedNews/HotNew'
import Tivi from '~/containers/HomePage/Tivi'
import BackGround from '~/components/BackGround'
import { AdsFullWidth } from '~/components/Ads'


const articles = await Astro.glob('./articles/**/*.md') // Data Fetching: List all Markdown posts in the repo.

import PostService from '~/services/PostService'
import Detail from '~/containers/ArticleDetails/Detail'
import Breadcrumbs from '~/components/Breadcrumbs'

const postService = new PostService(articles)
const mainArticles = postService.getAll().slice(0, AppConfig.homePageSettings.frontPagePostLimit || 6)
const highlightArticles = postService.getHomeHighlightItems().slice(0, AppConfig.homePageSettings.frontPagePostLimit || 6)
const tiviArticles = postService.getHomeTVWidgetItems().slice(0, AppConfig.homePageSettings.frontPagePostLimit || 6)


const title = AppConfig.siteTitle
const description = AppConfig.siteSlogan
const links = [
  {
    name: 'Trang chủ',
    href: '/',
  },
  {
    name: 'Tin tức nổi bật',
    href: '/',
  },
]
---

<BaseSEOLayout title={description} description={description} className="HomePage ">
    
    <main class="HomePage wrapper mt4 mb4 z-1 relative">
        <Breadcrumbs links={links}/>
        <Detail article={highlightArticles[0]} articles={highlightArticles}/>
    </main>

</BaseSEOLayout>
