---
import BaseSEOLayout from '~/layouts/BaseSEOLayout.astro'
import AppConfig from '~/AppConfig'
import MainNew from '~/containers/HomePage/MainNew'
import HotNew from '~/containers/FeaturedNews/HotNew'
import Tivi from '~/containers/HomePage/Tivi'
import BackGround from '~/components/BackGround'
import { AdsFullWidth } from '~/components/Ads'


const articles = await Astro.glob('./articles/**/*.md') // Data Fetching: List all Markdown posts in the repo.

import PostService from '~/services/PostService'
import Detail from '~/containers/ArticleDetails/Detail'
import Breadcrumbs from '~/components/Breadcrumbs'
import RelatedPosts from '~/containers/ArticleDetails/RelatedPosts'
import LeftDetail from '~/containers/ArticleDetails/LeftDetail'
import RightDetail from '~/containers/ArticleDetails/RightDetail'
import { Account } from '~/components/Account'

const postService = new PostService(articles)
const mainArticles = postService.getAll().slice(0, AppConfig.homePageSettings.frontPagePostLimit || 6)
const highlightArticles = postService.getHomeHighlightItems().slice(0, AppConfig.homePageSettings.frontPagePostLimit || 6)
const tiviArticles = postService.getHomeTVWidgetItems().slice(0, AppConfig.homePageSettings.frontPagePostLimit || 6)


const title = AppConfig.siteTitle
const description = AppConfig.siteSlogan
const links = [
  {
    name: 'Trang chủ',
    href: '/',
  },
  {
    name: 'Tin tức nổi bật',
    href: '/',
  },
]
---

<BaseSEOLayout title={description} description={description} className="HomePage ">
    
    <main class="HomePage wrapper mt4 mb4 z-2 relative sm-max:static">
        <Breadcrumbs links={links}/>
        <!-- <Detail article={highlightArticles[0]} articles={highlightArticles}/> -->
        <div class="ArticleDetails sm-max:px-4">
            <div class="flex  border-b-1 border-gray40 pb-6 gap-8">
            <div class="w-5/7 sm-max:w-full">
                  {/* // TODO: Thach: em cần data tác giả của bài viết chuyền vào Account*/ }
                <Account client:load article={highlightArticles[0]} articles={articles} />
                <LeftDetail article={highlightArticles[0]} />
        </div>
                <RightDetail article={highlightArticles[0]} articles={highlightArticles} className="w-2/7 sm-max:hidden" />
            </div>
            <RelatedPosts className="mt-10" articles={highlightArticles.slice(0, 3)} />
        </div>
    </main>

</BaseSEOLayout>
