---
import BaseSEOLayout from '~/layouts/BaseSEOLayout.astro'
import AppConfig from '~/AppConfig'
import MainNew from '~/containers/HomePage/MainNew'
import HotNew from '~/containers/HomePage/HotNew'
import Tivi from '~/containers/HomePage/Tivi'
import BackGround from '~/components/BackGround'
import { AdsFullWidth } from '~/components/Ads'


const articles = await Astro.glob('./articles/**/*.md') // Data Fetching: List all Markdown posts in the repo.

import PostService from '~/services/PostService'
import LatestNews from '~/containers/HomePage/LatestNews'
import Subscribe from '~/containers/HomePage/Subscribe/index'
import { ToastContainer } from 'react-toastify'
// import { ToastContainer } from 'react-toastify'

const postService = new PostService(articles)
const mainArticles = postService.getAll().slice(0, AppConfig.homePageSettings.homePagePostLimit || 6)
const highlightArticles = postService.getHomeHighlightItems().slice(0, AppConfig.homePageSettings.homePageHotNewsLimit || 10)
const tiviArticles = postService.getHomeTVWidgetItems().slice(0, AppConfig.homePageSettings.homePageTiviLimit || 6)


const title = AppConfig.siteTitle
const description = AppConfig.siteSlogan

---

<BaseSEOLayout title={description} description={description} className="HomePage ">
  <div class="absolute inset-0 overflow-hidden  sm-max:hidden ">

    <BackGround className="-top-127px -right-127px bg-opacity-30 z-0 " />
    <BackGround className="h-758px w-758px top-1264px -left-132px bg-opacity-30 z-0 bg-pink" />
    <BackGround className="h-938px w-938px -bottom-29px -right-400px bg-opacity-30 z-0 bg-green" />
      <div class="absolute inset-0 backdrop-filter backdrop-blur-120px z-0">
  </div>
  </div>
  
  <main class="HomePage wrapper mt4 mb4 z-1 relative  lg:m-0 sm:mx-3">

    <MainNew articles={mainArticles} className="mt-12 sm-max:mt-6"/>
    <HotNew client:load  
    articles={highlightArticles} className="mt-20 sm-max:mt-10" />
    <!-- <BackGround className="-top-127px -right-127px bg-opacity-30 z-0" /> -->
    <AdsFullWidth className="sm-max:w-full sm-max:mt-10">First ads here</AdsFullWidth>

    <Tivi videos={tiviArticles} className="mt-20 sm-max:mt-10" client:load   />
    <AdsFullWidth className="sm-max:w-full sm-max:mt-10">Second ads here</AdsFullWidth>
    <LatestNews articles={tiviArticles} className="mt-20 sm-max:mt-10"/>
    <Subscribe className="mt-20 sm-max:mt-10"/>
  </main>

</BaseSEOLayout>
