---
import BaseSEOLayout from '~/layouts/BaseSEOLayout.astro'

import Button from '~/components/Button/index.jsx'
import PortfolioPreview from '~/components/PortfolioPreview/index.jsx'
import HeroCTA from '~/components/HeroCTA.astro'
// import HomePage from '~/containers/HomePage'
// Or, if you have to support IE9
// import "@egjs/preact-flicking/dist/flicking-inline.css";
// import "@egjs/flicking-plugins/dist/flicking-plugins.css";
import AppConfig from '~/AppConfig'
import MainNew from '~/containers/HomePage/MainNew'
import HotNew from '~/containers/HomePage/HotNew'
import Tivi from '~/containers/HomePage/Tivi'
import { AdsFullWidth } from '~/components/Ads'


const articles = await Astro.glob('./articles/**/*.md') // Data Fetching: List all Markdown posts in the repo.

import PostService from '~/services/PostService'
const postService = new PostService(articles)
const mainArticles = postService.getAll().slice(0, AppConfig.homePageSettings.frontPagePostLimit || 6)
const highlightArticles = postService.getHomeHighlightItems().slice(0, AppConfig.homePageSettings.frontPagePostLimit || 6)
const tiviArticles = postService.getHomeTVWidgetItems().slice(0, AppConfig.homePageSettings.frontPagePostLimit || 6)


const title = AppConfig.siteTitle
const description = AppConfig.siteSlogan
---

<BaseSEOLayout title={description} description={description} className="HomePage">
  <main class="HomePage wrapper mt4 mb4">
    <MainNew articles={mainArticles} />
    <HotNew client:load  
    articles={highlightArticles} className="mt-20" />
    
    <AdsFullWidth>First ads here</AdsFullWidth>
    <Tivi articles={tiviArticles} className="mt-20" />
    <AdsFullWidth>Second ads here</AdsFullWidth>
  </main>
</BaseSEOLayout>
