---
import BaseSEOLayout from '~/layouts/BaseSEOLayout.astro'

import Button from '~/components/Button/index.jsx'
import PortfolioPreview from '~/components/PortfolioPreview/index.jsx'
import HeroCTA from '~/components/HeroCTA.astro'

import AppConfig from '~/AppConfig'
const articles = await Astro.glob('./articles/**/*.md') // Data Fetching: List all Markdown posts in the repo.
const featuredArticles = articles.slice(0, AppConfig.homePageSettings.frontPagePostLimit || 3)

// Component Imports
// import ArticleGrid from "../components/Article/Grid"
// const posts = await fetch(`https://jsonplaceholder.typicode.com/posts`).then(res => res.json())

const title = AppConfig.siteTitle
const description = AppConfig.siteSlogan
---

<BaseSEOLayout title={description} description={description} className="HomePage">
  <HeroCTA />

  <main class="wrapper mt4 mb4">
    <div class="grid">
      <h2 class="">Insight</h2>
      <div class="section">
        {featuredArticles.map((product, i) => <PortfolioPreview project={product} />)}

        <div class="tac mt4">
          <a href="/blog">
            <Button>View All</Button>
          </a>
        </div>
      </div>

      <h2 class="">About {title}</h2>
      <div class="section">
        <p class="bio">
          Hello! We’re {title}, and this is my website. It was made using{' '}
          <a href="https://github.com/withastro/astro" target="_blank" rel="nofollow"> Astro</a>, a new way to build static sites. This is just an example template for you to modify.
        </p>
        <p>Check out all of our <a href="/about">builders</a>.</p>
      </div>
    </div>
  </main>
</BaseSEOLayout>

<style lang="scss">
  $w-s: 750px;

  .grid {
    display: grid;
    grid-gap: 2rem;
  }

  .desc {
    font-size: var(--f-u2);
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  .bio {
    line-height: 2;
    margin-bottom: 2rem;

    > span:first-of-type {
      line-height: 1;
      margin-bottom: 0.5em;
      display: block;
      font-weight: 700;
      font-size: var(--f-u4);
    }
  }
</style>
