---
import BaseSEOLayout from '~/layouts/BaseSEOLayout.astro'
import AppConfig from '~/AppConfig'

import { ContentService } from '~/services/ContentService'

import MainNew from '~/containers/HomePage/MainNew'
import HotNew from '~/containers/FeaturedNews/HotNew'
import Tivi from '~/containers/HomePage/Tivi'
import BackGround from '~/components/BackGround'
import { AdsFullWidth } from '~/components/Ads'
import Detail from '~/containers/ArticleDetails/Detail'
import { Account } from '~/components/Account'
// import Button from '../components/Button'
import ArticleHero from '../components/Article/ArticleHero'
import ArticleMetadata from '../components/Article/ArticleMetadata'
import { ButtonPrimary } from '~/components/Button'

import Breadcrumbs from '~/components/Breadcrumbs'
import RelatedPosts from '~/containers/ArticleDetails/RelatedPosts'
import LeftDetail from '~/containers/ArticleDetails/LeftDetail'
import RightDetail from '~/containers/ArticleDetails/RightDetail'

const { content } = Astro.props


const contentService = new ContentService()

const currentAuthor = contentService.getAuthor(content.author)
const article = contentService.getArticle(content.url)
const authorArticles = currentAuthor?.articles
const relatedArticles = contentService.getRelateArticles(content).slice(0, 3)

const title = content?.title || AppConfig.siteTitle || 'Article layout'
const description = content.description || AppConfig.siteSlogan
const links = [
  {
    name: 'Trang chủ',
    href: '/',
  },
  {
    name: 'Tin tức nổi bật',
    href: '/blog',
  },
]
---

<BaseSEOLayout lang={content.lang} title={title} description={description} className={'ArticleLayout'}>
  <main class="Detail wrapper mt4 mb4 z-2 relative sm-max:static lg:m-0 sm:mx-3">
    <Breadcrumbs links={links}/>
    <div class="ArticleDetails sm-max:px-4">
      <div class="flex  border-b-1 border-gray40 pb-6 gap-8">
      <div class="w-5/7 sm-max:w-full">
        <Account article={article} articles={authorArticles} />
        <LeftDetail article={article} />        
    </div>    
    <RightDetail author={currentAuthor} article={article} articles={authorArticles} className="w-2/7 sm-max:hidden" />
    </div>
      <RelatedPosts className="mt-10" articles={relatedArticles} />
    </div>
</main>
</BaseSEOLayout>

<style scoped lang="scss">
  .content {
    font-size: var(--f-u1);
    line-height: 2;
  }
</style> 


