---
import BaseSEOLayout from '~/layouts/BaseSEOLayout.astro'
import AppConfig from '~/AppConfig'

import { ContentService } from '~/services/ContentService'

import { Account } from '~/components/Account'
import Breadcrumbs from '~/components/Breadcrumbs'
import RelatedPosts from '~/containers/ArticleDetails/RelatedPosts'
import LeftDetail from '~/containers/ArticleDetails/LeftDetail'
import RightDetail from '~/containers/ArticleDetails/RightDetail'
import Share from '~/components/Share'
import { Heading1 } from '~/components/Heading'
import Tag from '~/components/Tag'

const { content } = Astro.props


const contentService = new ContentService()

const currentAuthor = contentService.getAuthor(content.author)
const article = contentService.getArticle(content.url)
const authorArticles = currentAuthor?.articles
const relatedArticles = contentService.getRelateArticles(content).slice(0, 3)

const title = content?.title || AppConfig.siteTitle || 'Article layout'
const description = content.description || AppConfig.siteSlogan
const href = Astro.url.href
const links = [
  {
    name: 'Trang chủ',
    href: '/',
  },
  {
    name: 'Tin tức nổi bật',
    href: '/blog',
  },
]
---

<BaseSEOLayout lang={content.lang} title={title} description={description} className={'ArticleLayout'}>
  <main class="Detail wrapper mt4 mb4 z-2 relative sm-max:static lg:m-0 sm:mx-3">
    <Breadcrumbs links={links}/>
    <div class="ArticleDetails sm-max:px-4">
      <div class="flex  border-b-1 border-gray40 pb-6 gap-8">
      <div class="w-5/7 sm-max:w-full">
        <Account article={article} articles={authorArticles} />
        <!-- <LeftDetail href={href} article={article} />      -->
        <div class={`pt-6 mt-6 border-t-1 border-gray40`}>
        <Heading1 text={article.title} className="leading-44px" />
        <div class="mt-6">
          <div class="content" set:html={ article.body }></div>
        </div>
      </div>
      <div class="mt-10 flex gap-2 sm-max:flex-wrap">
        {article.tags?.map((t) => (
          <Tag text={t} />
        ))}
        <Share href={href} client:load />
      </div>
    </div>    
    <RightDetail author={currentAuthor} article={article} articles={authorArticles} className="w-2/7 sm-max:hidden" />
    </div>
      <RelatedPosts className="mt-10" articles={relatedArticles} />
    </div>
</main>
</BaseSEOLayout>

<style scoped lang="scss">
  .content {
    font-size: var(--f-u1);
    line-height: 2;
  }
</style> 


