---
import Button from '../components/Button'
import Breadcrumbs from '../components/Breadcrumbs'
import ArticleHero from '../components/Article/ArticleHero'
import ArticleMetadata from '../components/Article/ArticleMetadata'
import BaseSEOLayout from './BaseSEOLayout.astro'

const { content } = Astro.props

const title = content?.title || 'Article layout'
const links = [
  {
    name: 'Home',
    href: '/',
  },
  {
    name: 'Blog',
    href: '/blog',
  },
  {
    name: 'Authors',
    href: '/authors',
  },
]
---

<BaseSEOLayout lang={content.lang} title={title} description={content.description} className={'ArticleLayout'}>
  <Breadcrumbs links={links} />

  <h1 class="heading1">{title}: {content.summary}</h1>
  <ArticleHero content={content} />
  <ArticleMetadata content={content} />

  <div class="wrapper wrapper__readable">
    <div class="content">
      <slot />
    </div>
  </div>
</BaseSEOLayout>

<style lang="scss">
  .content {
    font-size: var(--f-u1);
    line-height: 2;
  }
</style>
