---
import Breadcrumbs from '../components/Breadcrumbs'
import ArticleHero from '../components/Article/ArticleHero'
import ArticleMetadata from '../components/Article/ArticleMetadata'
import { Heading1 } from '~/components/Heading'
import BaseSEOLayout from './BaseSEOLayout.astro'
import BaseSEOLayout from '~/layouts/BaseSEOLayout.astro'
import AppConfig from '~/AppConfig'
import MainNew from '~/containers/HomePage/MainNew'
import HotNew from '~/containers/FeaturedNews/HotNew'
import Tivi from '~/containers/HomePage/Tivi'
import BackGround from '~/components/BackGround'
import { AdsFullWidth } from '~/components/Ads'
import { ContentService } from '~/services/ContentService'
import LatestNews from '~/containers/HomePage/LatestNews'
import Subscribe from '~/containers/HomePage/Subscribe/index'
import InDepthTopics from '~/containers/FeaturedNews/InDepthTopics/index'
import { ButtonOutline, ButtonOutlinePrimary, ButtonPrimary } from '~/components/Button'


const { content } = Astro.props

const title = content?.title || AppConfig.siteTitle || 'Category layout'
const description = AppConfig.siteSlogan
const url =Astro.url

const contentService = new ContentService()
const highlightArticles = contentService.getArticles_HomeHighlightItems()
// TODO: Thach: em cần data post chủ đề chuyên sâu, chờ Hơn define category
---

<BaseSEOLayout lang={content.lang} title={title} description={description} className="HomePage CategoryLayout">
  <main class="FeaturedNew wrapper z-1 relative lg:m-0 sm:mx-3">
    <HotNew articles={highlightArticles} className="mt-10 sm-max:mt-6" />
    <ButtonOutlinePrimary onClick={()=>{}} className="mx-auto mt-6 hidden sm-max:block">Xem Thêm</ButtonOutlinePrimary>
    <InDepthTopics url={url} articles={highlightArticles} className="mt-10 sm-max:mt-6 sm-max:hidden" />
  </main>
</BaseSEOLayout>


<style scoped lang="scss">  
</style>
