---
import ArticleHero from '../components/Article/ArticleHero.jsx'
import Button from '~/components/Button/index.jsx'
import Tag from '~/components/Tag/index.jsx'
import SimplePageLayout from '~/layouts/SimplePageLayout.astro'

const { content } = Astro.props
---

<SimplePageLayout lang={content.lang} title={content.title} description={content.description}>
  <ArticleHero content={content} />
  <div class="leadIn">
    <div class="wrapper pt-8 pb-8 mb-8 text-center">
      {content.tags.map((t) =>  <Tag text={t} />)}
      <h3 class="tagline">{content.description}</h3>
    </div>
  </div>
  <div class="wrapper wrapper__readable">
    <slot />
  </div>
  <footer class="text-center mt-6">
    <a href="/products">
      <Button>View All</Button>
    </a>
  </footer>
</SimplePageLayout>

<style lang="scss" scoped>  
</style>
