---
import { Heading1 } from '~/components/Heading';
import BaseSEOLayout from './BaseSEOLayout.astro'
let {
    lang,
    title,
    description,
    frontmatter,
    className = ''
} = Astro.props;

title = title || frontmatter?.title || 'Simple page layout'
---

<BaseSEOLayout lang={lang} title={title} description={description} className={className}>
    <div class="SimplePageLayout wrapper">
        <Heading1 className="my-8" text={title}/>
        <slot />
    </div>
</BaseSEOLayout>